conda create -n EMSProject python==3.10.6
conda activate EMSProject
conda install pip

pip install torch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu118
pip install -q torch-scatter -f https://pytorch-geometric.com/whl/torch-2.2.0+cu118.html
pip install -q torch-sparse -f https://pytorch-geometric.com/whl/torch-2.2.0+cu118.html
pip install -q torch-geometric

pip install transformers
pip install tqdm
pip install pandas
pip install numpy
pip install openpyxl
pip install pyyaml
pip install wandb
pip install nltk
pip install pymetamap
pip install sacremoses
pip install notebook
pip install matplotlib
pip install seaborn
pip install scikit-multilearn